<h1>Database:</h1>
<ul>
	<li>Server status: {{{lastStatus}}}</li>
</ul>
<BR>
<div align="center">
	<h1>
		Enter new entry:
	</h1><BR>
	<input type="hidden" id="Id" value="-1"></input>
	Name: <input type="text" id="Name"></input> 
	Reps: <input type="number" id="Reps" value="0" style="width: 50px;"></input4> 
	Weight: <input type="number" id="Weight" value="0" style="width: 50px;"></input4> 
	Date: <input type="date" id="Date" value="2017-01-01"></input> 
	Lbs: <input type="checkbox" id="Lbs" value="0"></input> 
	<button type="button" id="addButton" >Add</button>
	<script>
		var action = "add";
		function ajaxSubmit(){
			var Id = document.getElementById("Id");
			var Name = document.getElementById("Name");
			var Reps = document.getElementById("Reps");
			var Weight = document.getElementById("Weight");
			var Date = document.getElementById("Date");
			var Lbs = document.getElementById("Lbs");
			var object = Name.value;
			var req = new XMLHttpRequest();
			//http://httpbin.org/post
			//http://localhost:1852/insert
			req.open("POST", "http://localhost:1852/insert", true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.addEventListener('load',function(){
			console.log(JSON.parse(this.responseText));
			console.log("status: "+JSON.parse(this.status));
			if(JSON.parse(this.status) > 300)
				console.log("status message: "+JSON.parse(this.statusText));
			else
				console.log("status message: NA");
			console.log("path: "+JSON.parse(this.readyState));
			switch(JSON.parse(this.readyState)){
				case 0:
					console.log("XMLHttpRequest.UNSENT");
					break;
				case 1:
					console.log("XMLHttpRequest.OPENED");
					break;
				case 2:
					console.log("XMLHttpRequest.HEADERS_RECEIVED");
					break;
				case 3:
					console.log("XMLHttpRequest.LOADING");
					break;
				case 4:
					console.log("XMLHttpRequest.DONE");
					break;
				default:
					console.log("NA");
					break;
			}
			var response = JSON.parse(this.responseText);
			});
			if(Lbs.checked)
				Lbs.value = 1;
			else
				Lbs.value = 0;
			if(Name.value != "")
				req.send('{"name":"'+Name.value+'","reps":"'+Reps.value+'","weight":"'+Weight.value+'","date":"'+Date.value+'","lbs":"'+Lbs.value+'","Id":"'+Id.value+'","action":"add"}');
			event.preventDefault();
			setTimeout(function() {
				location.reload();
			}, 200);
		}
		var addButton = document.getElementById("addButton");
		addButton.onclick = ajaxSubmit;
	</script>
</div>
<div align="center" >
	<table>
		<caption><strong><font face="Comic Sans MS" size="5" color="white">DB Content</font></strong></caption>
		<thead>
			<tr>
				<strong>
					<th>Name</th>
					<th>Reps</th>
					<th>Weight</th>
					<th>Date</th>
					<th>Action</th>
				</strong>
			</tr>
		</thead>
		<tbody>
			{{#each table}}
			<tr id="row" value="{{this.id}}">
				<td>{{this.name}}</td>
				<td>{{this.reps}}</td>
				<td>{{this.weight}}</td>
				<td>{{this.date}}</td>
				<td><button type="button" id="deleteButton{{this.id}}" value="{{this.id}}">Delete</button></td>
				<td><button type="button" id="editButton{{this.id}}" value="{{this.id}}">Edit</button></td>
				<script>
					var Id = {{this.id}};
					function deleteButton{{this.id}}(){
						var action = "delete";
						console.log("Clicked delete: {{this.id}}");
						var req = new XMLHttpRequest();
						req.open("POST", "http://localhost:1852/insert", true);
						req.setRequestHeader('Content-Type', 'application/json');
						req.addEventListener('load',function(){
						console.log(JSON.parse(this.responseText));
						console.log("status: "+JSON.parse(this.status));
						if(JSON.parse(this.status) > 300)
							console.log("status message: "+JSON.parse(this.statusText));
						else
							console.log("status message: NA");
						console.log("path: "+JSON.parse(this.readyState));
						switch(JSON.parse(this.readyState)){
							case 0:
								console.log("XMLHttpRequest.UNSENT");
								break;
							case 1:
								console.log("XMLHttpRequest.OPENED");
								break;
							case 2:
								console.log("XMLHttpRequest.HEADERS_RECEIVED");
								break;
							case 3:
								console.log("XMLHttpRequest.LOADING");
								break;
							case 4:
								console.log("XMLHttpRequest.DONE");
								break;
							default:
								console.log("NA");
								break;
						}
						var response = JSON.parse(this.responseText);
						});
						if(Lbs.checked)
							Lbs.value = 1;
						else
							Lbs.value = 0;
						req.send('{"Id":"'+{{this.id}}+'","action":"delete"}');
						event.preventDefault();
						setTimeout(function() {
							location.reload();
						}, 200);
					}
					function editButton{{this.id}}(){
						var action = "edit";
						console.log("Clicked edit: {{this.id}}");
						var req = new XMLHttpRequest();
						req.open("POST", "http://localhost:1852/insert", true);
						req.setRequestHeader('Content-Type', 'application/json');
						req.addEventListener('load',function(){
						console.log(JSON.parse(this.responseText));
						console.log("status: "+JSON.parse(this.status));
						if(JSON.parse(this.status) > 300)
							console.log("status message: "+JSON.parse(this.statusText));
						else
							console.log("status message: NA");
						console.log("path: "+JSON.parse(this.readyState));
						switch(JSON.parse(this.readyState)){
							case 0:
								console.log("XMLHttpRequest.UNSENT");
								break;
							case 1:
								console.log("XMLHttpRequest.OPENED");
								break;
							case 2:
								console.log("XMLHttpRequest.HEADERS_RECEIVED");
								break;
							case 3:
								console.log("XMLHttpRequest.LOADING");
								break;
							case 4:
								console.log("XMLHttpRequest.DONE");
								break;
							default:
								console.log("NA");
								break;
						}
						var response = JSON.parse(this.responseText);
						});
						if(Lbs.checked)
							Lbs.value = 1;
						else
							Lbs.value = 0;
						req.send('{"name":"'+Name.value+'","reps":"'+Reps.value+'","weight":"'+Weight.value+'","date":"'+Date.value+'","lbs":"'+Lbs.value+'","Id":"'+Id.value+'","action":"edit"}');
						event.preventDefault();
						setTimeout(function() {
							location.reload();
						}, 200);
					}
					var delButton = document.getElementById("deleteButton{{this.id}}");
					delButton.onclick = deleteButton{{this.id}};
					var edButton = document.getElementById("editButton{{this.id}}");
					edButton.onclick = editButton{{this.id}};
				</script>
			</tr>
			{{/each}}
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>
<BR>
<BR>
<button type="button" id="clearButton">Clear</button>
<button type="button" id="resetButton">Reset</button>
<script>
	function clearRedirect(){
		window.location="./clear";
	}
	function resetRedirect(){
		window.location="./reset-table";
	}
	var clearButton = document.getElementById("clearButton");
	var resetButton = document.getElementById("resetButton");
	clearButton.onclick = clearRedirect;
	resetButton.onclick = resetRedirect;
</script>
